In [2]:
import pandas as pd

In [3]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

A country is big if:

- it has an area of at least three million (i.e., 3000000 km2), or
- it has a population of at least twenty-five million (i.e., 25000000).
- Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

The result format is in the following example.

In [4]:
world

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

if ```area > 3_000_000``` or ```population > 25_000_000```

In [15]:
df_1 = world[world["population"] > 25_000_000]

In [16]:
df_1

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
2      Algeria    Africa  2381741    37100000  188681000000

In [11]:
df_2 = world[world["area"] > 3_000_000]

In [12]:
df_2

Empty DataFrame
Columns: [name, continent, area, population, gdp]
Index: []

In [17]:
frames = [df_1, df_2]
result = pd.concat(frames)

In [19]:
result.drop(columns=["continent","gdp"])

          name     area  population
0  Afghanistan   652230    25500100
2      Algeria  2381741    37100000

In [20]:
result.drop_duplicates()

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
2      Algeria    Africa  2381741    37100000  188681000000