In [73]:
import pandas as pd

In [74]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [75]:
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [ ]:
grouped = courses.groupby("class")

In [ ]:
courses.loc[ courses["class"] == "Math"]

In [ ]:
courses["class"].describe()

In [ ]:
courses.value_counts()

In [ ]:
courses.value_counts("class")

In [ ]:
courses.value_counts("class") > 5

In [ ]:
coursesmorethan5 = courses.value_counts("class") > 5

In [ ]:
coursesmorethan5[0]

In [77]:
courses.query("class > 5")

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

In [87]:
class_counts = courses.groupby('class')['student'].count().reset_index()

In [90]:
class_counts

      class  student
0   Biology        1
1  Computer        1
2   English        1
3      Math        6