# Employees being paid more than managers

Write a solution to find the emplyees who earn more than their managers.

##### Example:
```
Input: 

Employee table:
+----+-------+--------+-----------+
| id | name  | salary | managerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | Null      |
| 4  | Max   | 90000  | Null      |
+----+-------+--------+-----------+

Output: 
+----------+
| Employee |
+----------+
| Joe      |
+----------+
Explanation: Joe is the only employee who earns more than his manager.
```

In [31]:
import pandas as pd

In [14]:
df = pd.read_csv("pay.csv")
df = df.set_index('id')
df.fillna(0, inplace=True)
df["managerId"] = df["managerId"].astype(int)
df.head()

     name  salary  managerId
id
1     Joe   70000          3
2   Henry   80000          4
3     Sam   60000          0
4     Max   90000          0

In [32]:
new_df = df.merge(df, left_on='managerId', right_on='id', suffixes=('', '_manager'))
new_df = new_df.drop(columns=["managerId_manager"])
new_df.head()

    name  salary  managerId name_manager  salary_manager
0    Joe   70000          3          Sam           60000
1  Henry   80000          4          Max           90000

In [42]:
new_df["paid_more"] = new_df["salary"] > new_df["salary_manager"]
new_df.head()

    name  salary  managerId name_manager  salary_manager  paid_more
0    Joe   70000          3          Sam           60000       True
1  Henry   80000          4          Max           90000      False

In [49]:
# if 'paid_more' is == True, return: value stored in 'name'
filtered_df = new_df[new_df['paid_more'] == True]
names = filtered_df['name']
names = names.to_frame()
names = names.rename(columns={'name': 'Employee'})

print(names.values)

[['Joe']]