In [65]:
import pandas as pd

In [66]:
data = [[3, 5], [5, 1], [6, 5], [7, 4], [8,6], [9,2], [10,4], [11,16], [12,3], [13,5], [14,3], [15,16]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})
orders

    order_number  customer_number
0              3                5
1              5                1
2              6                5
3              7                4
4              8                6
5              9                2
6             10                4
7             11               16
8             12                3
9             13                5
10            14                3
11            15               16

In [67]:
orders = orders.groupby('customer_number').size().reset_index()
orders

   customer_number  0
0                1  1
1                2  1
2                3  2
3                4  2
4                5  3
5                6  1
6               16  2

In [68]:
orders = orders.sort_values(by=0, ascending=False)
orders

   customer_number  0
4                5  3
2                3  2
3                4  2
6               16  2
0                1  1
1                2  1
5                6  1

In [69]:
orders["customer_number"].iloc[0]

5